*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: black;
    --BG: #1B1B1B;
    --BGRGB: 27, 27, 27;
    --primary: #006CD0;
    --primaryRGB: 0, 108, 208;
    --white: white;
}

body {
    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--BG);
    color: var(--white);
    font-weight: 400;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;

    main {
        min-height: calc(100vh - 200px);
    }
}