.headerContainer {
    background-color: rgba(var(--primaryRGB), 0.8);
    backdrop-filter: blur(10px);
    height: 60px;
    padding: 0 60px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-family: "Arial Black", "Jost", sans-serif;
        font-size: 24px;
    }

    .infoWrap {
        display: flex;
        align-items: center;

        .phone {
            font-family: "Jost", sans-serif;
            font-weight: normal;
            font-size: 16px;
            margin-right: 20px;
        }

        .instagramLink {
            display: flex;
            align-items: center;
            height: 24px;
        }
    }

    @media screen and (max-width: 750px) {
        padding: 0 32px;
    }

    @media screen and (max-width: 550px) {
        padding: 0 16px;

        .infoWrap {
            .phone {
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
}
